*~
GTAGS
GRTAGS
GPATH
*/.stack-work/*
.xmonad/xmobar-git/
.xmonad/xmonad-contrib-git/
.xmonad/xmonad-git/
haskell/dist/
*.cmi
*.cmt
*.cmx
*.o
*.so
*.d
*.exe
*.exe.dep
.obj
obj_dir
simx.vcd
*.vcd
c17/parse/lib/
cpp/bison/bison.c
cpp/bison/bison_conflict.output
cpp/bison/bison_conflict.tab.c
cpp/bison/bison_conflict.tab.h
cpp/bison/bison_conflict_no.output
cpp/bison/bison_conflict_no.tab.c
cpp/bison/bison_conflict_no.tab.h
cpp/bison/calc_no
cpp/bison/calc_yes
cpp/bison/lex.c
cpp/bison/lex.yy.c
raku/lib/
sh/0_a_0.jpg
sh/a.jpg
